In [65]:
import pandas as pd
from sklearn.datasets import load_iris

In [66]:
ir=load_iris()

In [67]:
dir(ir)

['DESCR',
 'data',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [68]:
inputs=pd.DataFrame(ir.data,columns=ir.feature_names)

In [69]:
inputs.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [70]:
inputs['target']=pd.DataFrame(ir.target)
inputs.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [71]:

inputs['flower']=inputs.target.apply(lambda x: ir.target_names[x])

In [72]:
inputs.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [73]:
inputs[inputs.target==2].head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower
100,6.3,3.3,6.0,2.5,2,virginica
101,5.8,2.7,5.1,1.9,2,virginica
102,7.1,3.0,5.9,2.1,2,virginica
103,6.3,2.9,5.6,1.8,2,virginica
104,6.5,3.0,5.8,2.2,2,virginica

In [74]:
inputs[32:40]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower
32,5.2,4.1,1.5,0.1,0,setosa
33,5.5,4.2,1.4,0.2,0,setosa
34,4.9,3.1,1.5,0.2,0,setosa
35,5.0,3.2,1.2,0.2,0,setosa
36,5.5,3.5,1.3,0.2,0,setosa
37,4.9,3.6,1.4,0.1,0,setosa
38,4.4,3.0,1.3,0.2,0,setosa
39,5.1,3.4,1.5,0.2,0,setosa

In [75]:
y=inputs.target

In [76]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: target, dtype: int32

In [77]:
x=inputs.drop(['target','flower'],axis='columns')

In [78]:
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [85]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =train_test_split(x,y,test_size=0.2)

In [90]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=10)
model.fit(X_train,y_train)

RandomForestClassifier(n_estimators=10)

In [87]:
model.predict(X_test)

array([0, 2, 2, 0, 1, 0, 2, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 2, 2, 0, 0,
       0, 2, 2, 1, 1, 0, 1, 2])

In [88]:
model.predict([[5.1,3.5,1.4,0.2]])

array([0])

In [91]:
model.score(X_test,y_test)

0.9333333333333333

In [84]:
y_test.head()

86     1
81     1
46     0
103    2
69     1
Name: target, dtype: int32